.card-container {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 80%;
  align-items: center;
}

.card {
  height: 150px;
  width: 300px;
  background-color: #686AAC;
  border-radius: 4px;
  color: white;
  padding: 8px;
}

.card h4 {
  font-weight: 800;
}

.enter-repo {
  bottom: 0;
  margin-top: 100%;
}

.titulo {
  padding-top: 50px;
  text-align: center;
  color: #686AAC;
  font-size: 48px;
}